@tailwind base;
@tailwind components;
@tailwind utilities;

.b612 {
    font-family: "B612", sans-serif;
}

.b612-mono {
    font-family: "B612 Mono", monospace;
}

.inter {
    font-family: "Inter", sans-serif;
}